h1 {
    text-align: center;
}

#time {
    position: absolute;
    left: 42%;
    font-size: 26px;
    height: 60px;
    width: 250px;
    background-color: #282a36;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 6px;
}